@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #22212C;
    color: #837E9F;

}

ul {
    padding-left: 25px;
}

main {
    display: flex;
}

.profileImage {
    animation-name: bright;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    padding: 3px;
    border-radius: 50%;
}


.box {
    display: flex;
    flex-direction: column;
    background-color: #302F3D;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    margin: 32px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.information-box {
    display: flex;
    flex-direction: column;
    background-color: #302F3D;
    width: 20rem;
    height: 20rem;
    margin: 32px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.information {
    display: flex;
    margin: 12px;
}

.information-source {
    display: flex;
    padding: 10px;
    margin-left: 20px;
}

.source {
    margin-right: 10px;
}

.tech-box {
    display: flex;
    flex-direction: column;
    background-color: #302F3D;
    margin: 32px;
    width: 20rem;
    height: 14rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.tech-container {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 20px;
    margin-right: 5px;
}


.titles {
    margin-top: 20px;
    margin-left: 20px;
}

.content span {
    background-color: #CB92B1;
    color: #000;
    border-radius: 30px;
    width: 6rem;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin: 10px;
    padding: 2px;
}

.content span:hover{
    background-color: #cb92b183;
    cursor: default;
}


.exp-box {
    display: flex;
    flex-direction: column;
    background-color: #302F3D;
    margin: 32px;
    width: 20rem;
    height: 12rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.list-container {
    margin-left: 20px;
    margin-top: 15px;
}

.list-place {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    padding-bottom: 3px;
}

.list-time {
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
}

.list-function {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

#time {
    padding-top: 5px;
}

.education-box {
    display: flex;
    flex-direction: column;
    background-color: #302F3D;
    margin: 32px;
    width: 20rem;
    height: 24rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

footer {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}





.information-links {
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: #837E9F;
}

.information-links::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #3fff0a;
    transition: transform 0.3s ease-in-out;
}

.information-links:hover::after {
    transform: scaleX(1);
}

.myName {
    font-weight: 500;
    background-image: linear-gradient(to right,
            #3fff0a,
            #837E9F  50%,
            #837E9F 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    position: relative;
    padding: 5px 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease-in-out;
    cursor:default;
    margin-top: 25px;
    margin-bottom: 10px;
}

.myName:hover {
    background-position: 0;
}

.myName:hover::before {
    width: 100%;
}

.section-2{
    margin-top: 32px;
    margin-left: 2.3rem;
    width: 100%
}

.projects{
    display: flex;
    height: 4rem;
    width: calc(100% - 4rem);
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    align-items: center;
    padding-left: 30px;
    justify-content: space-between;
}

.my-project{
    font-weight: 500;
    font-size: 17px;
}

.see-all{
    margin-right: 30px;
    transition: 500ms;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: #837E9F;
}

.see-all:hover{
    transition: 500ms;
    color: #37ff00;
    
}

.project-list{
    margin-top: 30px;
    display: grid;
    align-items: center;
    width: calc(100% - 2.5rem);
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-column-gap: 40px;
}

.project-item{
    display: flex;
    flex-direction: column;
    height: 10rem;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding-left: 30px;
    padding-top: 25px;
    margin-top: 20px;
    text-decoration: none;
    transition: 500ms;
    color: #837E9F;
}

.project-item:hover{
    transition: 500ms;
    background-color: #837E9F;
    color: #302F3D;
}


.project-image{
    margin-right: 1rem;
    width: 24px;
    height: 24px;
}


.project-container{
    display: flex;
    align-items: center;
}

.project-desc{
    font-weight: 300;
    font-size: 13px;
    width: 92%;
    height: 95%;
    overflow: auto;
    padding-top: 15px;
}

.project-name{
    font-weight: 700;
    font-size: 18px;
}

.color-ball{
    width: 10px;
    height: 10px;
    background-color: #ffff;
    border: 2px solid #837E9F;
    border-radius: 50%;
    margin-right: 7px;
}

.language{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 13px;
    margin-right: 20px;
    margin-bottom: 7px;
    margin-top: 3px;
}

.typing{
    width: -moz-fit-content;
    width:fit-content;
    border-right: 2px solid;
    border-left:  2px solid;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: .15em; /* Adjust as needed */
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
}

.type-aboutme{
    margin-right: 4.8rem;
    margin-top: 30px;
    margin-left: 3rem;
}

/* swal edit */
.swal-modal{
    background-color: #837e9fa1;
}
.swal-title{
    color: #c9dae1;
}
.swal-text{
    color: #c9dae1;
}

/* scroll bar style */

/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }





/*animations*/
@keyframes bright {
    from{
        background-color: #37ff00;
    } 50%{
        background-color: #113f0b;
    }to{
       background-color: #37ff00;
    }
}


/* media screens*/
@media screen and (min-height:1680px) {
    
    footer{
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
    }
}

@media screen and (max-width: 850px) {

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer{
        padding-top: 40px;
    }
}